<h2 class="display-4 text-info ">
  <%= @account.email %></h2>

  <ul>
  <li>部署一覧ページへ</li>
  <li>従業員一覧ページへ</li>
  </ul>


<hr>
<div><%= link_to '&lt;&lt; go back'.html_safe, { action: 'index' } %></div>
