/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    color: darkgray;
    font-size:28px;
}

h1 {
    color: darkgray;
    margin: 25px 0px;
}

.toolbar {
    text-align: right;
}
.toolbar a {
    color: rgb(102, 85, 102);
}

/* ページネーション */

/* .pagination {font-size: 70%;}
.page-item { padding:5px; border:1px lightblue solid; } */

/*ページネーション自体のデザイン*/
.pagination>li>a {
    border: none;     /*枠線をなくす*/
    color: #696969;   /*文字の色を変える*/
  }

  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {
    background: #93c9ff;     /*背景の色を変える*/
    border-radius: 15px;     /*角を丸くする*/
  }

  /*ホバー時のデザイン*/
  .pagination>li>a:hover {
    border-radius: 15px;    /*角を丸くする*/
  }

/* バリデーションのエラーメッセージのリスト */
.validation_err li {
    color: rgb(235, 124, 142);
    font-size: 70%;
}

/* データベースに保存できなかった時のメッセージ */
.f_msg {
    font-size: 60%;
    border: 1px solid blue;
    padding: 14px;
    background-color: #ccf;
    border-radius: 5px;
    color: rgb(17, 17, 17);
}

label.col-sm-3.col-form-label {
    font-size: 22px;
}

/* 都道府県セレクトボックス */
#employee_pref {
    font-size: 80%;
}
/* 都道府県セレクトボックス クリックボタン*/
input.pref_click {
    font-size: 80%;
}